<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Blog@pp</title>
  </head>
  <body>
    <!--header part-->
    <%- include('partials/header.ejs') %>

    <div class="read-blog-container">
      <h1 class="read-blog-h1">Read Blog</h1>
      <div class="blog-container">
        <%content.forEach((post)=>{ %>

        <div class="blog">
          <div class="card-header">
            <h4><%= post.title %></h4>
          </div>
          <div class="card-content">
            <p><%= post.description %></p>
          </div>
          <div class="card-footer">
            <p>
              <%= `${new Date().getDay()} ${new Date().getMonth()} ${new
              Date().getFullYear()}` %>
            </p>
            <a href="#">see more</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <!--<div class="main-container">
      <h1>Blogs</h1>
      <ul>
        <% content.forEach((content)=>{%>
        <li><%=content %></li>
        <%}) %>
      </ul>
    </div>

  -->
    <!--footer part-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
